img[alt=Logo]{
	content:url("chrome-extension://fmbmdflbdilhiekaiiabefmdofobkkjc/itkmitl_wt_140.png");
}

h1, h2, h3, h4, h5, small, td, th, dt, dd, span, .active, .box-body, .box-title, .label, a.btn, .nav > li > a > i, #question-0 > p, pre, .well, div.nav-tabs-custom > .nav-tabs > li.active > a{
  color: white !important;
}

.breadcrumb > li > a, .pull-right > a, td > a, h4 > a, p > a{
  color: #0097E0 !important;
}

a.btn-default, td > textarea, select{
  color: black !important;
}

body, .content, pre, .well{
  background-color: #555 !important;
}

li.disabled > span {
  background-color: #404040 !important;
  color: #777 !important;
  border: 0 !important;
}

.content-header, .box, .pagination > li > a{
  background-color: #404040 !important;
  color: white !important;
  border: 0 !important;
}


.box-header, .box-footer, nav, div.nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs > li, .tab-content, ul.nav{
  background-color: #333 !important;
  border: 0 !important;
}

.table > tbody > tr > td {
  border-top: 0 !important;
}

.table-striped>tbody>tr:nth-of-type(odd)>td, .table-hover>tbody>tr:hover, table{
  background-color: #333333 !important;
}

nav, pre, .well{
  border: 0 !important;
}

.text-muted{
  color:#BFBFBF !important;
}

.skin-black .navbar .nav > li > a:hover, .skin-black .navbar .nav > li > a:active, .skin-black .navbar .nav > li > a:focus, .skin-black .navbar .nav .open > a, .skin-black .navbar .nav .open > a:hover, .skin-black .navbar .nav .open > a:focus {
  background: #222 !important;
}

/*Syntax highlight recolor*/
.syntaxhighlighter div.line.alt2, .syntaxhighlighter div.line.alt1 {
  background-color: #333 !important;
}

code.c.plain{
  color: white !important;
}

code.c.string{
  color: #CE723B !important;
}

code.c.functions{
  color: #DCDC9D !important;
}

code.c.color1{
  color: #3E9CCA !important;
}

code.c.preprocessor{
  color: #C586C0 !important;
}